:root {
    --basic-white: #ffffff;
    --basic-black: #000000;
    --header-color: #c4c4c4;
    --section1-color: #a2a9b7;
    --section2-color-gray: #e8ebed;
    --section2-color-blue: #90bce8;
    --section2-color-yellow: #febf26;
    --section3-color: #e3ebd3;
    --link-color: #b8d47d;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0, 0, 0, 0);
    overflow: hidden;
}

.body-page {
    margin: 0;
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    min-height: 100%;
    font-family: "Roboto Light", sans-serif;
    font-weight: normal;
}

.page-header {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 90px;
    margin: 0 0 10px 0;
    background-color: var(--header-color);
}

.page-header h1 {
    font-size: 24px;
    line-height: 20px;
    font-weight: 400;
}

.section1 {
    margin: 0 13px 10px 13px;
    height: calc(((100vw * 2) / 3) - 21px);
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 10px 20px;
    grid-auto-flow: column;
    color: white;
    font-family: "Roboto Light", sans-serif;
    font-weight: 400;
}

.section1__square {
    background-color: var(--section1-color);
    position: relative;
}

.section1__square .section1__paragraph {
    position: absolute;
    bottom: 15px;
    left: 15px;
    font-size: 14px;
    line-height: 20px;
}

.section1__big-square {
    background-color: var(--section1-color);
    box-sizing: border-box;
    width: calc(100% + 10px);
    height: 100%;
    grid-row: span 2;
    overflow-y: auto;
    overflow-x: hidden;
}

.section1__big-square .section1__paragraph {
    text-align: center;
    margin: 30px 46px auto 25px;
    font-size: 18px;
    line-height: 26px;
}

.section2 {
    margin: 0 13px 10px 13px;
    display: grid;
    font-size: 14px;
    line-height: 20px;
    height: 320px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 10px;
    grid-auto-flow: row dense;
}

.section2__element1 {
    position: relative;
}

.section2__paragraph {
    margin: 0;
    position: absolute;
    left: 15px;
    bottom: 15px;
}

.section2__element1--gray {
    background-color: var(--section2-color-gray);
}

.section2__element1--long {
    grid-column: span 2;
}

.section2__element1--blue {
    background-color: var(--section2-color-blue);
}

.section2__element1--yellow {
    background-color: var(--section2-color-yellow);
}

.section3 {
    margin: 0 13px 10px 13px;
    height: calc(((100vw * 2) / 3) - 21px);
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 10px 5px;
    grid-auto-flow: column;
    font-size: 14px;
    line-height: 20px;
}

.section3__square {
    display: flex;
    box-sizing: border-box;
    background-color: var(--section3-color);
    width: calc(100% - 5px);
    font-size: 14px;
    line-height: 20px;
    align-items: flex-end;
}

.section3__paragraph {
    margin-left: 15px;
}

.section3__big-square {
    box-sizing: border-box;
    background-color: var(--section3-color);
    width: calc(100%);
    height: 100%;
    grid-row: span 2;
    overflow-y: auto;
    font-size: 14px;
    line-height: 19px;
}

.stuff-description {
    margin-top: 15px;
    margin-left: 15px;
    margin-right: 15px;
    display: grid;
    grid-template-columns: 1fr min-content;
    align-items: end;
}

.stuff-description__title{
    position: relative;
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;
    margin-bottom: 30px;
}

.stuff-description__title::after {
    content: '';
    bottom: 0;
    position: absolute;
    width: 100%;
    border-bottom: 1px dotted var(--basic-black);
}

.stuff-description__desc {
    display: flex;
    text-align: right;
    margin: 0 0 30px 0;
    width: auto;
    overflow: hidden;
    border-bottom: none;
    overflow-wrap: normal;
}

.stuff-description__desc::before {
    content: '';
    align-self: flex-end;
    width: 100%;
    border-bottom: 1px dotted var(--basic-black);
    margin-right: 5px;
}

.section3__square--stuff {
    position: relative;
}

.section3__link {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--basic-white);
    text-decoration: none;
    display: flex;
    align-items: flex-end;
    border: none;
    z-index: 0;
}

.section3__image {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.section3__square--stuff:hover .section3__image,
.section3__square--stuff:hover .section3__paragraph {
    filter: blur(4px);
}

.section3__square--stuff:hover {
    border: 1px solid var(--link-color);
}

.section3__icon {
    display: none;
    content: '';
    position: absolute;
    top: calc(50% - 30px);
    left: calc(50% - 30px);
    width: 61px;
    height: 61px;
    cursor: pointer;
    z-index: 100;
}

.section3__square--stuff:hover .section3__icon{
    display: block;
}
